 /* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Definição das variáveis para as cores */
  :root {
    --header-background-color: rgba(0, 0, 0, 1); 
    --header-text-color: white; 
    --header-link-hover-color: cyan; 
    --footer-background-color: rgba(0, 0, 0, 0.9); 
    --footer-text-color: white; 
    --primary-color :#1a51e8;
    --background-color: #f1f3f4;
    --cor-texto: #333; 
    --cor-fundo: #f5f5f5;
  
  }
  
  /* Estilo para o Body */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
  }
  
  .pagina-inicial {
    background-image: url('../imgs/principal/foto fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  .pagina-inicial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  
  .barra-navegacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: var(--header-text-color);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .icone-menu {
    display: none; 
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 60px 20px;
    box-sizing: border-box;
    transition: left 0.3s ease;
  }
  
  .menu-lateral ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-lateral ul li {
    margin-bottom: 20px;
  }
  
  .menu-lateral ul li a {
    text-decoration: none;
    color: var(--footer-text-color);
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .menu-lateral ul li a:hover {
    color: var(--header-link-hover-color);
  }
  
  .menu-lateral.show {
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: var(--text-color); 
    font-weight: bold;
  }
  
  .logo img {
    max-width: 60px;
    height: auto;
    border-radius: 50%;
  }
  
  .navegacao-desktop {
    display: flex;
    align-items: center; 
  }
  
  .navegacao-desktop ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navegacao-desktop ul li {
    margin-right: 20px;
  }
  
  .navegacao-desktop ul li a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
  }
  
  .navegacao-desktop ul li a:hover {
    color: var(--header-link-hover-color);
  }
  
  @media screen and (max-width: 768px) {
    .menu-lateral {
        left: -250px; 
    }
  
    .icone-menu {
        display: block; 
    }
  
    .navegacao-desktop {
        display: none; 
    }
  }
  
  
  .container-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .container-pesquisa input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  .container-pesquisa button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  .container-pesquisa button:hover {
    background-color:var(--header-link-hover-color);
} 
  .faixa {
    text-align: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
}

/* Estilo para o layout principal */
.container-principal {
    display: flex;
    justify-content: space-around;
    margin: 20px; 
}

/* Estilo para a imagem */
.container-imagem {
    flex: 1 1 40%; 
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px; 
}

.container-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.container-imagem img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Estilo para o formulário */
.container-formulario {
    flex: 1 1 50%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para labels no formulário */
.container-formulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo para inputs e selects no formulário */
.container-formulario input,
.container-formulario select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container-formulario button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container-formulario button:hover {
    background-color:var(--header-link-hover-color);
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column; 
    }

    .container-imagem,
    .container-formulario {
        flex-basis: 100%; 
        margin-right: 0; 
    }

    .container-imagem {
        height: 200px; 
    }
}

.container-pesquisa button,
.container-formulario button,
.inscricao button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.container-pesquisa button:hover,
.container-formulario button:hover,
.inscricao button:hover {
    background-color: var(--header-link-hover-color); 
    color: var(--text-color); 
}

/* Estilo do Footer */
footer {
    background-color: var(--footer-background-color);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 14px;
}

.coluna-footer {
    flex: 1 1 300px; 
    margin-right: 20px;
    margin-bottom: 20px; 
}

.coluna-footer h3 {
    margin-bottom: 10px;
}

.coluna-footer nav ul {
    list-style-type: none;
    padding: 0; 
}

.coluna-footer nav ul li {
    margin-bottom: 5px;
}

.coluna-footer nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 1; 
}

.coluna-footer nav ul li a:hover {
    color: var(--header-link-hover-color);
    opacity: 0.8; 
}

/* Estilo para o texto "GraffTee", Email e Telefone */
.coluna-footer span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.coluna-footer p {
    font-size: 14px;
    margin: 5px 0; 
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.redes-sociais ul li {
    margin: 10px 0; 
}

.redes-sociais ul li a {
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease, opacity 0.3s ease; 
    opacity: 1; 
}

.redes-sociais ul li a:hover {
    color: var(--header-link-hover-color);
    opacity: 0.8; 
}

.redes-sociais ul li a i {
    font-size: 24px;
    margin-right: 5px;
}

.contato {
    grid-column: 2 / 3; 
}

.inscricao {
    grid-column: 3 / 4; 
}

nav ul li a:hover,
.redes-sociais ul li a:hover,
.inscricao ul li a:hover {
    color: var(--header-link-hover-color);
    opacity: 0.8;
}

/* Estilo para o Botão "Inscrever" no Footer */
.inscricao input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.inscricao button {
    padding: 8px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inscricao button:hover {
    background-color: var(--header-link-hover-color); 
}

.creditos {
    grid-column: 1 / -1; 
    color: var(--footer-text-color);
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

.creditos p {
    margin: 0;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr; 
    }

    .coluna-footer {
        margin-bottom: 20px; 
    }

    .creditos {
        font-size: 14px; 
    }
}

/* Estilos adicionais para o botão de voltar ao topo */
#voltar-ao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
#voltar-ao-topo:hover {
  background-color:var(--header-link-hover-color);
}